
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color:#323946; 
    --text-color:#fff;
    --main-color:#0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;    
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem; ;
    transition: 3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.Inicio {
    padding: 11.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-img img {
    height: auto;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.inicio-contenedor h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.inicio-contenedor h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.inicio-contenedor h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.inicio-contenedor P {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.SobreMi {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.SobreMi-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    padding: 2.5rem;
}

.SobreMi-Contenedor h2{
    text-align: left;
    line-height: 1.2;
}

.SobreMi-Contenedor h3 {
    font-size: 2.6rem;
}

.SobreMi-Contenedor p {
    font-size: 1.6rem; 
    margin: 2rem 0 3rem;
}

.tecnologias {
    padding: 5rem;
    background-color: var(--bg-color);
}

.tecnologias .heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

.tecnologias-contenedor {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.tecnologias-slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: scroll 20s linear infinite;
}

.tecnologia-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    font-size: 1.5rem;
    color: var(--bg-color);
    position: relative;
}

.tecnologia-item img {
    border-radius: 10%;
    width: 200px;
    height: auto;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;
}

.tecnologia-item:hover img {
    transform: scale(1.2);
}

.tecnologia-item span {
    font-size: 2,5rem;
}

.tecnologia-item .descripcion {
    position: absolute;
    bottom: -2rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    display: none;
    white-space: nowrap;
}

.tecnologia-item:hover .descripcion {
    display: block;    
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Responsivo */
@media (max-width: 768px) {
    .tecnologia-item {
        font-size: 1.2rem;
    }
    
    .tecnologia-item img {
        width: 60px;
    }
    
    .tecnologia-item .descripcion {
        font-size: 0.9rem;
    }
}
.Portfolio {
    background: var(--second-bg-color);
    padding: 2rem;
}

.Portfolio h2 {
    margin: 4rem;
}

.Portfolio-contenedor {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.Portfolio-contenedor .Portfolio-box {
    margin: 1.4rem;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.Portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.Portfolio-box:hover img {
    transform: scale(1.1);
}

.Portfolio-box .Portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.Portfolio-box:hover .Portfolio-layer {
    transform: translateY(0);
}

.Portfolio-layer h4 {
    font-size: 3rem;
}

.Portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.Portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.Portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.Contacto h2 {
    margin-bottom: 3rem;
}

.Contacto form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.Contacto form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Contacto form .input-box input,
.Contacto form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.Contacto form .input-box input {
    width: 49%;
}

.Contacto form textarea {
    resize: none;
}

.Contacto form .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color:var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    color: #000;
}

.Contacto form .btn:hover {
    box-shadow: none;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* RESPONSIVE */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .servicios {
        padding-bottom: 7rem;
    }

    .Portfolio {
        padding-bottom: 7rem;
    }

    .Contacto {
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1re 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .Inicio {
        flex-direction: column;
    }

    .inicio-contenedor h3 {
        font-size: 2.6rem;
    }

    .inicio-contenedor h1{
        font-size: 5rem;
    }

    .Inicio-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .SobreMi {
        flex-direction: column-reverse;
    }

    .SobreMi img {
        width: 70vw;
        margin-top: 4rem;
    }

    .Servicios h2 {
        margin-bottom: 3rem;
    }

    .Portfolio h2 {
        margin-bottom: 3rem;
    }

    .Portfolio-contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .Portfolio-contenedor {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .Contacto form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .inicio-img img {
        width: 90vw;
    }

    .SobreMi-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}





